<a href="https://colab.research.google.com/github/Samiaa-codehub/Assignment-4/blob/main/step_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***01_add_two_number***

In [ ]:
num1:int=input("Enter your first number:")
num2:int=input("Enter your second number:")
total:int=(num1)+(num2)
print(total)

Enter your first number:8
Enter your second number:9
89

# ***02_agreement_bot***

In [ ]:
animal=input("Enter your favourite animal:")
print("My favorite animal is also ",animal)

Enter your favourite animal:cow
My favorite animal is also  cow

# **03_fahrenheit_to_celsis**

In [ ]:
def main():
  fahrenheit=float(input("Enter the temperature in fahrenheit:"))
  celsius=(fahrenheit-32)*5/9
  print("The temperature in celsius is:",celsius)
if __name__=="__main__":
  main()

Enter the temperature in fahrenheit:76
The temperature in celsius is: 24.444444444444443

# ***04_old_age***

In [ ]:
def main():
  Anton:int=21
  Beth:int=Anton + 6
  Chen:int=Beth + 20
  Drew:int=Chen +Anton
  Ethan:int=Chen
  print("Anton is",Anton,"years old")
  print("Beth is",Beth,"years old")
  print("Chen is",Chen,"years old")
  print("Drew is",Drew,"years old")
  print("Ethan is",Ethan,"years old")
if __name__=="__main__":
  main()

Anton is 21 years old
Beth is 27 years old
Chen is 47 years old
Drew is 68 years old
Ethan is 47 years old

# ***05_triangle_peremeter***

In [ ]:
def main():
  side1:float=float(input("Enter your first side1 ?"))
  side2:float=float(input("Enter your second side2 ?"))
  side3:float=float(input("Enter your third side3 ?"))
  total:float=(side1)+(side2)+(side3)
  print("The perimeter of the triangle is " , total)
if __name__=="__main__":
  main()

Enter your first side1?3.4
Enter your second side2?4.5
Enter your third side3?6.5
The perimeter of the triangle is  14.4

# **06_square_number**

In [ ]:
def main():
  num:float=float(input("Type a number to see square!"))
  print(str(num) +   "sqaure is" +  str(num ** 2))
if __name__=="__main__":
  main()

Type a number to see square!4
4.0sqaure is16.0